{% extends 'base.html' %}

{% block title %}Search ads{% endblock %}


{% block body %}



<ol class="breadcrumb" style="margin-bottom: 5px;">
          <li><a href="index.html">Home</a></li>
          <li class="active">All Ads</li>
        </ol>
        <div class="ads-grid">
            <div class="side-bar col-md-3">
        <form class="form-form" action="/allads/search?q={{ _get.q}}" method="GET">
            <div>
            <input type="submit" value="Search" class="search-submit"  >
            <input type="search" name="q" class="search-search" required="">
            </div> 
        </form>
<div class="clearfix"></div>
                <div class="search-hotel">
                <h3 class="sear-head">Price range</h3>
                <form>
                    <input type="number" value="Product name..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Product name...';}" required="">
                    <input type="submit" value=" ">
                </form>
            </div>

            <div class="featured-ads">
                <h2 class="sear-head fer">Featured Ads</h2>
                <div class="featured-ad">
                    <a href="single.html">
                        <div class="featured-ad-left">
                            <img src="../images/f1.jpg" title="ad image" alt="" />
                        </div>
                        <div class="featured-ad-right">
                            <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
                            <p>&#x20A6; 450</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="featured-ad">
                    <a href="single.html">
                        <div class="featured-ad-left">
                            <img src="../images/f2.jpg" title="ad image" alt="" />
                        </div>
                        <div class="featured-ad-right">
                            <h4>Lorem Ipsum is simply dummy text of the printing industry</h4>
                            <p><span>&#8358;</span>380</p>
                        </div>
                        <div class="clearfix"></div>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            </div>
            <div class="ads-display col-md-9">
                <div class="wrapper">					
                <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs nav-tabs-responsive" role="tablist">
                    <li role="presentation" class="active">
                      <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                        <span class="text" id="result">{{ searchCount }} result found for '{{ _get.q}}'</span>
                      </a>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                       <div>
                                            <div id="container">
                            <div class="sort">
                               <div class="sort-by">
                                    <label>Sort By : </label>
                                    <select>
                                                    <option value="">Most recent</option>
                                                    <option value="">Price: Rs Low to High</option>
                                                    <option value="">Price: Rs High to Low</option>
                                    </select>
                                   </div>
                                 </div>
                            <div class="clearfix"></div>
                    
                    
                      
                        {% for search in searchs %}
                        <ul class="list">
                            
                            <a href="/allads/single?id={{ search.id }}">
                                <li>
                                <img src="../{{ search.ad_image }}" title="" alt="" />
                                <section class="list-left">
                                <h5 class="title">{{ search.ad_title }}</h5>
                                <span class="adprice"><span>&#8358;</span>{{ search.ad_price }}</span>
                                
                                </section>
                                <section class="list-right">
                                <span class="date">Today, 17:55</span>
                                <span class="cityname">Ad title</span>
                                </section>
                                <div class="clearfix"></div>
                                </li> 
                            </a>
                            
                        </ul>
                        {% endfor %}
                    </div>
                        </div>
                    </div>
                    
                    <ul class="pagination pagination-sm">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                  </div>
                </div>
            </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>	
</div>

{% endblock %}