{% extends 'base.html' %}

{% block title %} Advertisers {% endblock %}

{% block body %}

<!-- Popular-search -->
<div class="popular-search main-grid-border">
    <div class="container">
        <h2 class="head">Advertisers</h2>
            <div class="tags">
                <p>
                Select any of the links below to visit the advertiser's store
                </p>
            </div>
    </div>
    <div class="popular-regions">
        <div class="container">
            <div>
            <form class="form-form">
    <div>
    <input type="submit" value="Search" class="search-submit"  >
    <input type="search" class="search-search" required="">
    </div> 
</form>
</div>
<div class="clearfix"></div>
            <ul class="ul">
                <li><a href="all-classifieds-ad.html">Alabama</a></li>
                <li><a href="all-classifieds-ad.html">Alaska</a></li>
                <li><a href="all-classifieds-ad.html">Arizona</a></li>
                <li><a href="all-classifieds-ad.html">Arkansas</a></li>
                <li><a href="all-classifieds-ad.html">California</a></li>
                <li><a href="all-classifieds-ad.html">Colorado</a></li>
                <li><a href="all-classifieds-ad.html">Connecticut</a></li>
                <li><a href="all-classifieds-ad.html">Delaware</a></li>
                <li><a href="all-classifieds-ad.html">Florida</a></li>
                <li><a href="all-classifieds-ad.html">Georgia</a></li>
                <li><a href="all-classifieds-ad.html">Hawaii</a></li>
                <li><a href="all-classifieds-ad.html">Idaho</a></li>
                <li><a href="all-classifieds-ad.html">Illinois</a></li>
                <li><a href="all-classifieds-ad.html">Indiana</a></li>
                <li><a href="all-classifieds-ad.html">Iowa</a></li>
                <li><a href="all-classifieds-ad.html">Kansas</a></li>
                <li><a href="all-classifieds-ad.html">Kentucky</a></li>
                <li><a href="all-classifieds-ad.html">Louisiana</a></li>
                <li><a href="all-classifieds-ad.html">Maine</a></li>
                <li><a href="all-classifieds-ad.html">Maryland</a></li>
                <li><a href="all-classifieds-ad.html">Massachusetts</a></li>
                <li><a href="all-classifieds-ad.html">Michigan</a></li>
                <li><a href="all-classifieds-ad.html">Minnesota</a></li>
                <li><a href="all-classifieds-ad.html">Mississippi</a></li>
                <li><a href="all-classifieds-ad.html">Missouri</a></li>
                <li><a href="all-classifieds-ad.html">Montana</a></li>
                <li><a href="all-classifieds-ad.html">Nebraska</a></li>
                <li><a href="all-classifieds-ad.html">Nevada</a></li>
                <li><a href="all-classifieds-ad.html">New Hampshire</a></li>
                <li><a href="all-classifieds-ad.html">New Jersey</a></li>
                <li><a href="all-classifieds-ad.html#">New Mexico</a></li>
                <li><a href="all-classifieds-ad.html">New York</a></li>
                <li><a href="all-classifieds-ad.html">North Carolina</a></li>
                <li><a href="all-classifieds-ad.html">North Dakota</a></li>
                <li><a href="all-classifieds-ad.html">Ohio</a></li>
                <li><a href="all-classifieds-ad.html">Oklahoma</a></li>
                <li><a href="all-classifieds-ad.html">Oregon</a></li>
                <li><a href="all-classifieds-ad.html">Pennsylvania</a></li>
                <li><a href="all-classifieds-ad.html">Rhode Island</a></li>
                <li><a href="all-classifieds-ad.html">South Carolina</a></li>
                <li><a href="all-classifieds-ad.html">South Dakota</a></li>
                <li><a href="all-classifieds-ad.html">Tennessee</a></li>
                <li><a href="all-classifieds-ad.html">Texas</a></li>
                <li><a href="all-classifieds-ad.html">Utah</a></li>
                <li><a href="all-classifieds-ad.html">Vermont</a></li>
                <li><a href="all-classifieds-ad.html">Virginia</a></li>
                <li><a href="all-classifieds-ad.html">Washington</a></li>
                <li><a href="all-classifieds-ad.html">West Virginia</a></li>
                <li><a href="all-classifieds-ad.html">Wisconsin</a></li>
                <li><a href="all-classifieds-ad.html">Wyoming</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <ul class="pagination pagination-sm pagination-margin">
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
</div>

<!-- //Popular-search -->

{% endblock %}