<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-select.css">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/css/font-awesome.min.css" />
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="js/jquery.min.js"></script><!-- delet -->
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.js"></script>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
<link href="/css/jquery.uls.css" rel="stylesheet"/>
<link href="/css/jquery.uls.grid.css" rel="stylesheet"/>
<link href="/css/jquery.uls.lcd.css" rel="stylesheet"/>
<!-- Source -->
<script src="/js/jquery.uls.data.js"></script>
<script src="/js/jquery.uls.data.utils.js"></script>
<script src="/js/jquery.uls.lcd.js"></script>
<script src="/js/jquery.uls.languagefilter.js"></script>
<script src="/js/jquery.uls.regionfilter.js"></script>
<script src="/js/jquery.uls.core.js"></script>
<link rel="stylesheet" type="text/css" href="../css/easy-responsive-tabs.css " />
<script src="/js/easyResponsiveTabs.js"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
</head>
<body>

		<div class="container">

				{% for message in flash_messages %}
						<div class="alert alert-{{ message.type }}">
								{{ message.body }}
						</div>
				{% endfor %}
		
		</div>

	<div class="header">
		<div class="container-fluid navbar">
			<nav class=" ">
  <div  >
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar navbar-span"></span>
        <span class="icon-bar navbar-span"></span>
        <span class="icon-bar navbar-span"></span>
      </button>
      <div class="logo navbar-brand">
				<a href="/"><span>Torch</span>sale</i></a>
			</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active-li"><a href="/">Home</a></li>
        <li class="dropdown navbar-li">
        <a class="dropdown-toggle" data-toggle="dropdown" href="">Products
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/advertiser/index">Advertisers</a></li>
          <li><a href="/allads/index">Products</a></li>
        </ul>
      </li>
        <li><a href="faq.html">Faq</a></li> 
        <li class="navbar-li"><a href="/contact/index">Contact Us</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
				{% if not current_user %}
        <li><a href="/signup/new" data-target="#password"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login/new"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></li>
				{% else %}
				<li><a href="/profile/postad" data-target="#password"><span class="glyphicon glyphicon-user"></span> Post Ads</a></li>
				<li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
				{% endif %}
			</ul>
    </div>
  </div>
</nav>
		</div>
	</div>
		<div class="main-banner banner text-center">
	  <div class="container ">    
			<h1>Advertise and buy  <span class="segment-heading">    anything online </span> with Torchsale</h1>
			<p>How would you know if you can afford it when you haven't even tried</p>
			<a href="/profile/postad">Post Ad For Free</a>
	  </div>
	</div>

    {% block body %}
    {% endblock %}
		<!--footer section start-->		
		<footer>
			<div class="footer-bottom text-center">
			<div class="container">
				<div class="footer-logo">
					<a href="index.html">Torchsale</a>
				</div>
				<div class="footer-social-icons">
					<ul>
						<li><a class="facebook" href="#"><span>Facebook</span></a></li>
						<li><a class="twitter" href="#"><span>Twitter</span></a></li>
						<li><a class="flickr" href="#"><span>Flickr</span></a></li>
						<li><a class="googleplus" href="#"><span>Google+</span></a></li>
						<li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
					</ul>
				</div>
				<div class="copyrights">
					<p> © 2019 Torchsale. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> Firmtorch</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		</footer>
        <!--footer section end-->
        <!-- Create account modal -->
<div id="password" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg modal-lg-o">
			<!-- Modal content-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Account</h4>
      </div>
      <span><a href="login.html" class="spanify"> Click here if you have an account</a></span>
      <hr>
      <div class="pos ">
				<form action="mailto:gojquery@gmail.com" method="get">
					<input type="email" name="email" value="" placeholder="Email: example@email.com" class="emailbox store-name">
					<input type="text" class="store-name" placeholder="Store name: Example store" required="">
					<input type="number" class="store-name" placeholder="Phone number" required="">
					<input type="text" class="store-name" placeholder="Address" required="">
					<input type="password" class="store-name ps1" name="pswrd1" placeholder="Password">
					<input type="password" class="store-name ps2" name="pswrd2" placeholder="Confirm Password">
					<br>
					<div class="pass-val">
						<div id="myProgress">
    						<div id="myBar"></div>
						</div>
						<br>
						<p id="result"></p>
					</div>
					<input type="submit" name="submit" value="Change" class="submit-modal">
					<div class="clearfix"></div>
				</form>
    </div>
</div>
</div>
<script type="text/javascript" src="/js/script1.js"></script>

    {% block footer %}
    {% endblock %}

</body>
</html>